@media (min-width: 766px) { 
    footer {
        color: white;
        padding: 0;
        margin: 0;
        width: 100vw;
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-size: 150%;
    }

    footer a {
        color: white;
    }

    footer h1 {
        padding-top: 10%;
        padding-bottom: 2%;
        margin: 0;
        font-family: 'El Messiri', sans-serif;
    }

    footer p {
        padding: 0 10%;
        margin: 0;
    }

    .socialmedias ul {
        
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        padding-bottom: 3%;
    }

    .socialmedias li {
        margin: 0 10px;
        padding-top: 2%;
    }

    #copy {
        padding: 2%;
    }

}

