@import url(ds_footer.css);
@import url(ds_header.css);

@media (min-width: 766px) {
    body, html {
        margin: 0;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #fff;
    }

    main {
        padding-top: 50px;
        background-color: #efebeb;
    }

    picture {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #articleImage {
        width: 854px;
        height: 533px;
        object-fit: cover;
    }

    .description {
        text-align: center;
    }

    .description #blogtitle, h1 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .description #blogtitle {
        font-size: 54px;
        padding: 0 20%;
    }

    .description #blogsubtitle {
        font-family: 'Xanh Mono', monospace;
        font-weight: 800;
        font-size: 20px;
        padding: 0 30px 30px;
        border-bottom: 2px solid #304647;
    }

    #articlesection {
        text-align: center;
    }

    #allarticlesbox {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .articleContainer {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 700px;
    }

    .articleContainer img {
        padding: 0 20px;
        width: 304px;
        height: 176px;
        object-fit: cover;
    }

    .articleContainer h2 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-style: normal;
        font-size: 25px;
        padding: 0 40px 20px;
        width: 260px;
    }

    .articleContainer a {
        text-decoration: none;
        color: black;
    }

    .article {
        text-align: center;
    }

    #articleTitle {
        font-size: 54px;
        text-align: center;
        padding: 0 20%;
        padding-bottom: 30px;
        
    }

    #articleImageBox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #articleImage {
        width: 854px;
        height: 570px;
        object-fit: cover;
    }

    .authorContent {
        display: flex;
        padding: 5% 5% 0;
    }

    #borderline {
        border-bottom: 3px solid black;
    }

    #authorComment {
        padding: 0;
    }

    #authorName, #authorDate {
        padding-left: 10px;
        font-size: 13px;
        height: 16px;
        margin: 0;
    }

    #authorName {
        padding-top: 15px;
    }

    #authorImage, #authorImage2 {
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }

    .container-author {
        padding: 0 30%;
    }

    .authorInformations {
        display: flex;
        padding-left: 5%;
    }

    #authorInfo {
        padding-top: 0px;
    }

    #authorSocial ul {
        display: flex;
        
        list-style: none;
        width: 85%;
    }

    #authorSocial ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 40px;
        border: 1px solid #d3d3d3;

    }

    #whatsappli {
        display: none;
    }

    .text {
        padding: 0 30%;
    }

    .paddingTitle {
        padding-left: 30%;
    }

    .container-newsletter {
        border: 2px solid black;
        border-top: 8px solid black;
        width: 500px;
        height: 350px;
        text-align: center;
    }

    #authorSocialBox {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 50px;
    }
    #newsletter1 {
        display: flex;
        font-size: 29px;
        font-weight: bold;
        padding-top: 15%;
        align-items: center;
        justify-content: center;
    }

    #newsletterbox {
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 18%;
    }

    #newsletterbox input {
        padding: 0 10px;
        border: 1px solid black;
        display: inline-block;
        height: 54px;
    }

    #newsletterbox input placehoder {
        padding-left: 5%;
    }

    #newsletterbox button {
        color: white;
        text-transform: uppercase;
        background-color: black;
        padding: 10px;
        border: 0;
        display: inline-block;
        height: 56.6px;
        width: 108px;
    }

    .mainarticleimage {
        width: 100vw !important;
        height: 900px !important;
    }
}

