footer {
    color: white;
    padding: 0;
    margin: 0;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

footer a {
    color: white;
}

footer h1 {
    padding-top: 45%;
    padding-bottom: 10%;
    margin: 0;
}

footer p {
    padding: 0 10%;
    margin: 0;
}

.socialmedias ul {
    
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 10%;
}

.socialmedias li {
    margin: 0 10px;
}

#copy {
    padding: 10%;
}
