@media (max-width: 765px) { 
    header {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        size: 20px;
        height: 40px;
        width: 100vw;
        background-color: rgb(239, 235, 235);
        border-bottom: 2px solid rgb(221, 224, 224);
    }

    header h1 {
        color: black;
        font-size: 1.5em;
        font-family: 'El Messiri', sans-serif;
    }

    .titleblog {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #titleimage {
        width: 20px;
        height: 20px;
    }

    #title2 {
        text-decoration: none;
        color: black;
        padding: 0;
    }

    header a {
        text-decoration: none;
    }

    header ul {
        display: none;
    }

    .buttom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }

    .hamburger-button {
        padding-left: 10px;
        display: none;
        width: 30px;
        height: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .hamburger-button .bar {
        width: 100%;
        height: 2.5px;
        background-color: #000000;
        border-radius: 2px;
    }
        
}

