@media screen and (max-width: 700px) {

    header {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        size: 20px;
        height: 65px;
        width: 100vw;
        background-color: white;
    }
    
    header h1 {
        font-size: 2.5em;
        font-family: 'Handjet', cursive;
    }
    
    header ul {
        display: none;
    }

    .buttom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }

    .hamburger-button {
        padding-left: 10px;
        display: none;
        width: 30px;
        height: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    
    .hamburger-button .bar {
        width: 100%;
        height: 2.5px;
        background-color: #000000;
        border-radius: 2px;
    }
}
    
