@import url(ms_header.css);
@import url(ms_footer.css);

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff;
}

main {
    padding-top: 50px;
    background-color: #efebeb;
}


#articleTitle, #articlesection {
    text-align: center;
}

.description {
    text-align: center;
}

.description #blogtitle, h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.description #blogtitle {
    font-size: 36px;
    padding: 0 20px;
}

.description #blogsubtitle {
    font-family: 'Xanh Mono', monospace;
    font-size: 16px;
    padding: 0 30px 30px;
    border-bottom: 2px solid #304647;
}

/* Article Images and Text */
#articleImage {
    width: 100vw;
    max-width: 100%;
    height: 235px;
    object-fit: cover;
}

.articleContainer {
    text-align: center;
}

.articleContainer img {
    padding: 0 20px;
    width: 80%;
    height: 194px;
    object-fit: cover;
}

.articleContainer h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    padding: 0 40px 20px;
}

.articleContainer a {
    text-decoration: none;
    color: black;
}

.article {
    text-align: center;
}

.authorContent {
    display: flex;
    padding: 5% 5% 0;
}

#borderline {
    border-bottom: 3px solid black;
}

#authorName, #authorDate {
    padding-left: 10px;
    font-size: 13px;
    height: 16px;
    margin: 0;
}

#authorName {
    padding-top: 15px;
}

#authorImage, #authorImage2 {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.authorInformations {
    display: flex;
    width: 100%;
    padding-left: 5%;
}

#authorInfo {
    padding-top: 0px;
}

#authorSocial ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 85%;
}

#authorSocial ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid #d3d3d3;
}

.text {
    padding: 0 5%;
}

#nextTitle {
    text-align: center;
}

.container-nextread, .container-newsletter {
    text-align: center;
}

.container-nextread {
    border-bottom: 7px solid black;
}

.container-newsletter p {
    padding: 0 10%;
    font-size: 16px;
}

#newsletter1 {
    display: flex;
    font-size: 29px;
    font-weight: bold;
    padding-top: 15%;
    align-items: center;
    justify-content: center;
}

#newsletterbox {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 18%;
    border-bottom: 3px solid black;
}

#newsletterbox input {
    padding: 0 10px;
    border: 1px solid black;
    display: inline-block;
    height: 54px;
}

#newsletterbox input placehoder {
    padding-left: 5%;
}

#newsletterbox button {
    color: white;
    background-color: black;
    padding: 10px;
    border: 0;
    display: inline-block;
    height: 56.6px;
    width: 108px;
}


.paddingTitle {
    padding-left: 5%;
}